body {
    font-family: Arial, sans-serif;
    background-color: #4B0082;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #FFFFFF;
    padding: 40px; /* Aumentei o padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumentei a largura */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.forgot-password {
    align-self: flex-end;
    margin-bottom: 20px;
    color: #4B0082;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    background-color: #FFA07A;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #FF7F50;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
}

.domain-settings {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.domain-settings label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.domain-settings select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.domain-settings button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #999;
    cursor: not-allowed;
    border-radius: 5px;
}